@model F1Cafe.Models.ViewModels.Drivers.AllDriversViewModel

<div class="row mb-1">
    @for (int i = 0; i < Model.Drivers.Count(); i++)
    {
        var driver = Model.Drivers.ElementAt(i);

        if (i % 4 == 0 && i != 0)
        {
            @Html.Raw("</div><div class=\"row mb-1\">")
        }

        <div class="card shadow col-md-3 px-0" style="width: 18rem;">
            <a asp-controller="Drivers" asp-action="Details" asp-route-id="@driver.Id">
                <div class="zoom">
                    <img class="card-img-top" src="@driver.ImageUrl" alt="@driver.FirstName @driver.LastName Image">
                </div>
            </a>
            <div class="card-body">
                <h1 class="card-title font-weight-bold">@driver.DriverNumber</h1>
                <h5 class="card-title font-weight-bold">@driver.FirstName @driver.LastName</h5>
                <p class="card-text">@driver.TeamName.ToUpper()</p>
            </div>
        </div>
    }
</div>